README.dataset.txt
README.roboflow.txt
cars.v1i.voc.zip
cars.v2i.voc.zip
cars.v3i.voc.zip
cars.v7i.voc.zip
inference_outputs/
outputs/map.png
outputs/train_loss.png
outputs/last_model.pth
test/
test_video1.mkv
test_video2.mkv
train.py
train/
valid/
pytorch_env/
__pycache__/
